<!doctype html>
<html ~~ZHTMLLG~~>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" id="noto-simple-noto-sans-en-css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400&amp;subset=latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="noto-simple-style-css" href="~~ZBASEURL~~layout/wordpress/noto-simple/style.css?ver=201811" type="text/css" media="all">
<link rel="stylesheet" id="noto-simple-icons-css" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" media="all">
~~ZHEAD~~</head>
<body class="home page-template-default page page-id-X no-sidebar footer-0 has-avatars">
<div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#content">Springe zum Inhalt</a>
	<header id="masthead" class="site-header">
        <div class="container">
            <div class="site-branding">
                                    <h1 class="site-title"><a href="/" rel="home">~~ZSITETITLE~~</a></h1>
                                    <p class="site-description">~~ZSITESUB~~</p>
                            </div>
			<div class="header-image">
							</div>
            <nav id="site-navigation" class="main-navigation">
                <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                <i class="material-icons open">menu</i>
					<i class="material-icons close">close</i>
				</button>
                ~~ZNAVI~~            </nav>
        </div>
	</header>
	<div id="content" class="site-content">
        <div class="container">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
<article id="post-index" class="post-index page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">~~ZH1~~</h1>	</header>
	<div class="entry-content">
		~~ZBODY~~	</div>
	</article>
		</main>
	</div>
        </div>
	</div>
	<footer id="colophon" class="site-footer">
        <div class="container">
			<a id="back-to-top" href="#page"><i class="material-icons">keyboard_arrow_up</i></a>
            <div class="site-info">
            ~~ZFOOT~~            </div>
        </div>
	</footer>
</div>
<script type="text/javascript" src="~~ZBASEURL~~layout/wordpress/noto-simple/js/navigation.js?ver=20151215"></script>
<script type="text/javascript" src="~~ZBASEURL~~layout/wordpress/noto-simple/js/skip-link-focus-fix.js?ver=20151215"></script>
<script type="text/javascript" src="~~ZBASEURL~~layout/wordpress/noto-simple/js/vendor/smooth-scroll.polyfills.js?ver=16.0.3"></script>
<script type="text/javascript" src="~~ZBASEURL~~layout/wordpress/noto-simple/js/main.js?ver=201811"></script>
~~ZBODYLAST~~
</body>
</html>
