<!DOCTYPE html>
<html {{ZHTMLLG}}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="pingback" href="">
<link rel="stylesheet" id="graphy-font-css" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro%3A400%7CLora%3A400%2C400italic%2C700&subset=latin%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="genericons-css" href="{{ZDIRDESIGN}}genericons/genericons/genericons.css?ver=3.4.1" type="text/css" media="all">
<link rel="stylesheet" id="normalize-css" href="{{ZDIRDESIGN}}css/normalize.css?ver=4.1.1" type="text/css" media="all">
<link rel="stylesheet" id="graphy-style-css" href="{{ZDIRDESIGN}}style.css?ver=2.2.1" type="text/css" media="all">
<script type="text/javascript" src="{{ZDIRSCRIPTS}}1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ZDIRSCRIPTS}}jquery-migrate-1.4.1.min.js"></script>
	<style type="text/css">
		/* Colors */
			</style>
	{{ZHEAD}}</head>
<body class="home page-template-default page page-id-X no-sidebar footer-0 has-avatars">
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Springe zum Inhalt</a>
	<header id="masthead" class="site-header">
		<div class="site-branding">
					<h1 class="site-title"><a href="{{ZHOMEURL}}" rel="home">{{ZSITETITLE}}</a></h1>
						<div class="site-description">{{ZSITESUB}}</div>
							<nav id="header-social-link" class="header-social-link social-link">
							</nav>
				</div>
				<nav id="site-navigation" class="main-navigation">
			<button class="menu-toggle"><span class="menu-text">{{ZMENUTX}}</span></button>
			{{ZNAVI}}											</nav>
	</header>
	<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
<article id="post-index" class="post-index page type-page status-publish hentry">
		<header class="entry-header">
				<h2 class="entry-title">{{ZH1}}</h2>
			</header>
	<div class="entry-content">
		{{ZBODY}}			</div>
</article>
		</main>
	</div>
	</div>
	<footer id="colophon" class="site-footer">
		<div class="site-bottom">
			<div class="site-info">
				<div class="site-credit">
			{{ZFOOT}}				</div>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript" src="{{ZDIRDESIGN}}js/skip-link-focus-fix.js?ver=20160525"></script>
<script type="text/javascript" src="{{ZDIRDESIGN}}js/navigation.js?ver=20160525"></script>
<script type="text/javascript" src="{{ZDIRDESIGN}}js/doubletaptogo.min.js?ver=1.0.0"></script>
<script type="text/javascript" src="{{ZDIRDESIGN}}js/functions.js?ver=20160822"></script>
{{ZBODYLAST}}
</body>
</html>
