<!DOCTYPE html>
<html {%%ZP_HTMLLG%%}>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" id="generate-style-grid-css" href="./layout/wordpress/generatepress/css/unsemantic-grid.min.css?ver=2.0.2" type="text/css" media="all">
<link rel="stylesheet" id="generate-style-css" href="./layout/wordpress/generatepress/style.min.css?ver=2.0.2" type="text/css" media="all">
<link rel="stylesheet" id="generate-mobile-style-css" href="./layout/wordpress/generatepress/css/mobile.min.css?ver=2.0.2" type="text/css" media="all">
<link rel="stylesheet" id="generate-zp-css" href="./layout/wordpress/generatepress/zp.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-essentials-css" href="./layout/wordpress/generatepress/css/font-awesome-essentials.min.css?ver=4.7" type="text/css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1">{%%ZP_HEAD%%}</head>
<body itemtype='http://schema.org/Blog' itemscope='itemscope' class="home page-template-default page page-id-X no-sidebar footer-0 has-avatars">
	<a class="screen-reader-text skip-link" href="#content" title="Skip to content">Springe zum Inhalt</a>		<header itemtype="http://schema.org/WPHeader" itemscope="itemscope" id="masthead" class="site-header">
			<div class="inside-header grid-container grid-parent">
				<div class="site-branding">
					<h1 class="main-title" itemprop="headline">
				<a href="/" rel="home">
					{%%ZP_SITETITLE%%}
				</a>
			</h1>
					<p class="site-description">
				{%%ZP_SITESUB%%}
			</p>
				</div>			</div>
		</header>
				<nav itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope" id="site-navigation" class="main-navigation">
			<div class="inside-navigation grid-container grid-parent">
								<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
					<span class="mobile-menu">{%%ZP_MENUTX%%}</span>
				</button>
				<div class="main-nav">
					{%%ZP_NAVI%%}
				</div>			</div>
		</nav>
	<div id="page" class="hfeed site grid-container container grid-parent">
		<div id="content" class="site-content">
	<div id="primary" class="content-area grid-parent mobile-grid-100 grid-75 tablet-grid-75">
		<main id="main" class="site-main">
<article id="post-index" class="post-index page type-page status-publish hentry" itemtype='http://schema.org/CreativeWork' itemscope='itemscope'>
	<div class="inside-article">
			<header class="entry-header">
				<h1 class="entry-title" itemprop="headline">{%%ZP_H1%%}</h1>			</header>
		<div class="entry-content" itemprop="text">
			{%%ZP_BODY%%}		</div>
			</div>
</article>
					<div class="comments-area">
											</div>
						</main>
	</div>
	</div>
</div>
<div class="site-footer  ">
			<footer class="site-info" itemtype="http://schema.org/WPFooter" itemscope="itemscope">
			<div class="inside-site-info grid-container grid-parent">
								<div class="copyright-bar">{%%ZP_FOOT%%}</div>
			</div>
		</footer>
					<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container grid-parent">
					<div class="inside-footer-widgets">
							<div class="footer-widget- grid-parent grid- tablet-grid- mobile-grid-100">
			</div>
		<div class="footer-widget- grid-parent grid- tablet-grid- mobile-grid-100">
			</div>
		<div class="footer-widget- grid-parent grid- tablet-grid- mobile-grid-100">
			</div>
						</div>
				</div>
			</div>
		</div>
<script type="text/javascript" src="./layout/wordpress/generatepress/js/classList.min.js?ver=2.0.2"></script>
<script type="text/javascript" src="./layout/wordpress/generatepress/js/menu.min.js?ver=2.0.2"></script>
<script type="text/javascript" src="./layout/wordpress/generatepress/js/a11y.min.js?ver=2.0.2"></script>
<script type="text/javascript" src="./layout/wordpress/generatepress/js/dropdown.min.js?ver=2.0.2"></script>
{%%ZP_BODYLAST%%}
</body>
</html>
