<!DOCTYPE html>
<html {%%ZP_HTMLLG%%}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="">
<link rel="stylesheet" id="sosimple-style-css" href="./layout/wordpress/sosimple/style.css" type="text/css" media="all">
<link rel="stylesheet" id="sosimple-fonts-css" href="*" type="text/css" media="all">
<link rel="stylesheet" id="genericons-css" href="./layout/wordpress/sosimple/genericons/genericons.css?ver=3.0.3" type="text/css" media="all">
<script type="text/javascript" src="./layout/scripts/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="./layout/scripts/jquery-migrate-1.4.1.min.js"></script>
{%%ZP_HEAD%%}</head>
<body class="home page-template-default page page-id-X no-sidebar footer-0 has-avatars">
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Springe zum Inhalt</a>
	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
						    <hgroup>
			        <h1 class='site-title'><a href='/' title='{%%ZP_TITLE%%}' rel='home'>{%%ZP_TITLE%%}</a></h1>
			        <h2 class='site-description'>{%%ZP_SUBTITLE%%}</h2>
			    </hgroup>
					</div>
		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>
			{%%ZP_NAVI%%}		</nav>
	</header>
	<div class="sosimple-breadcrumbs">
			</div>
	<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
<article id="post-kontakt" class="post-kontakt page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">{%%ZP_H1%%}</h1>	</header>
		<div class="entry-content">
		{%%ZP_BODY%%}			</div>
	<footer class="entry-footer">
			</footer>
</article>
		</main>
	</div>
</div>
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			{%%ZP_FOOT%%}		</div>
	</footer>
</div>
<script type="text/javascript" src="./layout/wordpress/sosimple/js/navigation.js?ver=20120206"></script>
<script type="text/javascript" src="./layout/wordpress/sosimple/js/skip-link-focus-fix.js?ver=1.0"></script>
{%%ZP_BODYEND%%}
</body>
</html>
