<!doctype html>
<html {%%ZP_HTMLLG%%}>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="profile" href="https://gmpg.org/xfn/11" />
	<link rel="stylesheet" id="seedlet-fonts-css" href="https://fonts.googleapis.com/css?family=Fira+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B1%2C400%7CPlayfair+Display%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400&subset=latin%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="seedlet-style-css" href="./layout/wordpress/seedlet/style.css" type="text/css" media="all">
<link rel="stylesheet" id="seedlet-style-navigation-css" href="./layout/wordpress/seedlet/assets/css/style-navigation.css" type="text/css" media="all">
<link rel="stylesheet" id="seedlet-zp-css" href="./layout/wordpress/seedlet/zp.css" type="text/css" media="all">
<link rel="stylesheet" id="seedlet-print-style-css" href="./layout/wordpress/seedlet/assets/css/print.css" type="text/css" media="all">
{%%ZP_HEAD%%}</head>
<body class="home page-template-default page page-id-X no-sidebar footer-0 has-avatars">
<div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<header id="masthead" class="site-header header_classes has-title-and-tagline has-menu" role="banner">
<div class="site-branding">
							<h1 class="site-title"><a href="/" rel="home">{%%ZP_TITLE%%}</a></h1>
			<p class="site-description">
			{%%ZP_SUBTITLE%%}		</p>
	</div>
							<nav id="site-navigation" class="primary-navigation" role="navigation" aria-label="Main">
					<button id="primary-close-menu" class="button close">
						<span class="dropdown-icon close">Close <svg class="svg-icon" width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.9394L5.53033 4.46973L4.46967 5.53039L10.9393 12.0001L4.46967 18.4697L5.53033 19.5304L12 13.0607L18.4697 19.5304L19.5303 18.4697L13.0607 12.0001L19.5303 5.53039L18.4697 4.46973L12 10.9394Z" fill="currentColor"/></svg></span>
						<span class="hide-visually collapsed-text">collapsed</span>
					</button>
					{%%ZP_NAVI%%}				</nav>
			<div class="menu-button-container">
									<button id="primary-open-menu" class="button open">
						<span class="dropdown-icon open">{%%ZP_MENUTX%%} <svg class="svg-icon" width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 6H19.5V7.5H4.5V6ZM4.5 12H19.5V13.5H4.5V12ZM19.5 18H4.5V19.5H19.5V18Z" fill="currentColor"/></svg></span>
						<span class="hide-visually expanded-text">expanded</span>
					</button>
							</div>
			<div class="menu-button-container">
							</div>
		</header>
	<div id="content" class="site-content">
	<section id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
<article id="post-index" class="post-index page type-page status-publish hentry">
	<header class="entry-header default-max-width">
<h1 class="entry-title">{%%ZP_H1%%}</h1>
	</header>
	<div class="entry-content">
		{%%ZP_BODY%%}	</div>
	</article>
		</main>
	</section>
	</div>
	<footer id="colophon" class="site-footer default-max-width" role="contentinfo" aria-label="Footer">
				<nav class="footer-navigation" role="navigation" aria-label="Footer Menu">
					</nav>
		<div class="site-info">
		{%%ZP_FOOT%%}		</div>
	</footer>
</div>
<script type="text/javascript" src="./layout/wordpress/seedlet/assets/js/primary-navigation.js"></script>
{%%ZP_BODYLAST%%}
</body>
</html>
