img.alignleft,.alignleft{float:left;margin:.35em 1.5em 1em 0}
img.alignright,.alignright{float:right;margin:.35em 0 1em 1.5em}
img.aligncenter,.aligncenter{display:block;margin-left:auto;margin-right:auto}